<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2º SERCOMP - UEPB</title>
    <meta name="keywords"
        content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="icon" href="image/icons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Css files -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/app-mobile.css" />

</head>

<body class="">

    <!--NAVEGAÇÂO-->
    <div id="myNav" class="overlay bg-white">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <div class="w-100 text-white">
                <div class="nav-item text-white">
                    <a class="nav-link active text-azul" href="/index">
                        <img class="img-fluid mr-2" src="image/icons/home.svg">
                        Inicio
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="/cadastrar">
                        <img class="img-fluid mr-2" src="image/icons/anexar.svg">
                        inscrição
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="/submissao">
                        <img class="img-fluid mr-2" src="image/icons/anexar.svg">
                        Submissão de artigos
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="/hackday">
                        <img class="img-fluid mr-2" src="image/icons/hackday.svg">
                        Hackday
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="/index#contato" OnClick="">
                        <img class="img-fluid mr-2" src="image/icons/contato.svg">
                        Contatos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button id="menu" class="btn bg-light float-left" onclick="openNav()">
            <img src="image/icons/menu.svg">
        </button>
    </div>


    <!-- Conteúdo -->
    <div id="conteudo">

        <!-- Hackday -->
        <section class="hackday bg-white" id="sobre">
            <div class="container">
                <div class="tittle-section text-azul">
                    <h2 class="font-personalizada"><strong>Hackday</strong></h2>
                </div>
                <div class="text-dark ">
                    <h5><strong>O que é?</strong></h5>
                    <p>
                        <small>
                            O Hackday Sercomp trata-se de uma maratona de criação e programação, onde equipes de até 4
                            participantes competem entre si para desenvolverem, em curto período, uma solução inovadora,
                            conforme o desafio proposto pela coordenação do evento. A proposta do Hackday Sercomp – É
                            desafiar diferentes profissionais, universitários e desenvolvedores a se unirem e somarem
                            esforços e competências para criarem alguma solução tecnológica voltada para o tema
                            proposto.
                        </small>
                    </p>
                    <h5><strong>Quando acontecerá?</strong></h5>
                    <p>
                        <small>
                            Dias 19 e 20 de setembro de 2019 será realizado, no II Congresso Sertanejo de Computação -
                            SERCOMP que acontecerá na Universidade Estadual da Paraíba (UEPB) campus VII, Patos - PB.
                            Nessa edição, receberemos até 15 equipes, de, no mínimo, 2 e, no máximo, 4 pessoas, que
                            disputarão um Hackday com a proposta de desenvolver uma aplicação tecnológica com ênfase em
                            solucionar o problema proposto. As inscrições poderão ser realizadas dia 15 de julho de 2019
                            até às 23h59 do dia 01 de setembro de 2019, através do site: Onde será disponibilizado
                            formulário para o preenchimento dos candidatos.
                        </small>
                    </p>
                    <h5><strong>Etapas</strong></h5>
                    <p>
                        <small>
                            Duração
                            O Hackday será uma maratona de 24 horas completas, que começará às 17 horas do dia 19 de
                            setembro de 2019, indo até as 17 horas do dia 20 de setembro de 2019, sendo divididas em
                            duas etapas.
                            1ª Etapa
                            Definição da ideia e documentação - 19 de setembro – Até às 5 horas da manhã, será enviada a
                            proposta da equipe junto a documentação que será feita baseada no template disponibilizado.

                            2ª Etapa
                            Desenvolvimento – 20 de setembro – Para essa etapa, que se encerra às 17 horas, é necessário
                            que seja entregue no mínimo um protótipo da aplicação.
                        </small>
                    </p>

                    <h5><strong>Regras do evento</strong></h5>

                    <p>
                        <small>
                            DOS OBJETIVOS
                            <br>
                            O objetivo deste hackday é oferecer um ambiente que estimule a troca de conhecimentos, o
                            trabalho em equipe, por meio da colaboração e integração, resultando no desenvolvimento de
                            um aplicativo para solucionar problemas referente ao tema do II SERCOMP.
                        </small>
                    </p>

                    <p>
                        <small>
                            DAS EQUIPES
                            <br>
                            1. Cada equipe deverá ser composta por, no mínimo, 2 e, no máximo, 4 pessoas, designadas no
                            ato da inscrição.
                            2. Os participantes inscritos nas equipes deverão ter disponibilidade para participar
                            integralmente de todo o ciclo do hackday.
                            3. Será necessário o comparecimento de TODOS os membros da equipe no início da maratona,
                            após isso, é obrigatória apenas a presença de no mínimo 1 membro da equipe no local da
                            maratona.
                            DAS INSCRIÇÕES
                            1. As inscrições serão realizadas no link disponibilizado no site:
                            2. As equipes inscritas devem eleger um representante para apresentar seus dados e
                            disponibilizar um e-mail e um telefone para contato direto.
                        </small>
                    </p>

                    <p>
                        <small>
                            DO RESULTADO ESPERADO
                            <br>
                            Espera-se, ao final da maratona, que as equipes apresentem aplicações para solucionar
                            problemas do tema do II SERCOMP.
                        </small>
                    </p>

                    <p>
                        <small>
                            AVALIAÇÃO
                            <br>
                            A avaliação será ao final do hackday através de uma comissão avaliadora, sendo premiada a
                            melhor ideia. A comissão avaliadora só será divulgada horas antes.
                        </small>
                    </p>

                    <p>
                        <small>
                            DOS DIREITOS DE PROPRIEDADE INTELECTUAL
                            <br>
                            Os participantes da maratona, incluindo os finalistas e vencedores, no ato da inscrição,
                            assumem total e exclusiva responsabilidade pelo aplicativo que será apresentado ao final do
                            evento, por sua titularidade e originalidade, incluindo, sem limitação, responsabilidade por
                            eventuais violações à intimidade, privacidade, honra e imagem de qualquer pessoa, a deveres
                            de segredo, à propriedade industrial, direito autoral e/ou a respeito de todas e quaisquer
                            eventuais reivindicações de terceiros que se sintam prejudicados, eximindo a organizadora de
                            qualquer responsabilidade relativa a tais fatos, aspectos, direitos e/ou situações. A
                            organizadora declara ciência expressa que, os direitos de autor sobre os aplicativos
                            apresentados ao final da maratona pertencem e permanecerão pertencentes integralmente aos
                            seus respectivos proprietários.
                        </small>
                    </p>

                    <p>
                        <small>
                            CESSÃO DE DIREITO DE IMAGEM, VOZ E NOME
                            <br>
                            Os participantes, no ato da inscrição deste Hackday e uma vez sendo finalistas e/ou
                            premiados, autorizam a utilização, de modo gratuito, definitivo e irrevogável, de seu nome e
                            imagem, e ainda, do nome, imagem e características da aplicação apresentada, no todo ou em
                            parte, em qualquer meio/veículo escolhido pela organização, especialmente virtual, a
                            qualquer tempo e por período indeterminado, sem restrição de quantidade, qualidade e
                            frequência, mesmo que para fins publicitários, sem que isso lhe implique qualquer tipo de
                            ônus e/ou contrapartida devida pela comissão organizadora.
                        </small>
                    </p>

                    <p>
                        <small>
                            DA DESCLASSIFICAÇÃO
                            <br>
                            Será desclassificada a equipe que:
                            a. Ferir os princípios de fair play;
                            b. Causar tumulto ou confusão durante o evento;
                            c. Pedir apoio a qualquer pessoa fora do evento;
                            d. Copiar soluções já existentes;
                            e. Se ausentar durante a etapa presencial da competição (a EQUIPE deverá manter sempre ao
                            menos um representante no local do evento);
                            f. Será permitido um atraso de até 15 minutos, aos integrantes das equipes, porém equipes
                            incompletas, após esse tempo, serão desclassificadas.
                            A ausência de TODOS acarreta eliminação da EQUIPE.
                        </small>
                    </p>

                    <p>
                        <small>
                            DISPOSIÇÕES GERAIS
                            <br>

                            <p>O presente Regulamento e este Hackday poderão ser alterados, suspensos ou cancelados a
                                qualquer tempo, comprometendo-se a comissão organizadora, desde já, a comunicar o novo
                                Regulamento ou às novas condições do Hackday ou, ainda, o seu cancelamento definitivo,
                                se for o caso, sem que exista direito a qualquer indenização em favor dos participantes.
                                <br><br>
                                A organização não se responsabilizará por participações que não sejam computadas por
                                problemas técnicos que ocorram na transmissão dos dados.
                                <br><br>
                                A responsabilidade da comissão organizadora em relação ao prêmio termina no momento em
                                que forem entregues aos ganhadores.
                                <br><br>
                                A comissão organizadora não será responsável por problemas, falhas ou mau funcionamento
                                técnico de
                                qualquer tipo, em redes de computadores, servidores ou provedores, equipamentos de
                                computadores, hardware ou software, nem por erro, interrupção, defeito, atraso ou falha
                                em operações ou transmissões para o correto processamento de inscrições, incluindo, mas
                                não
                                se limitando, a transmissão imprecisa das inscrições ou de eventuais falhas em
                                recebê-las,
                                em razão de problemas técnicos, congestionamento na internet ou no site ligado à
                                maratona,
                                vírus, queda de energia, falha de programação (bugs) ou violação por terceiros
                                (hackers).
                                <br><br>
                                Eventuais tentativas por parte dos participantes de violar, de forma deliberada, alguns
                                dos
                                sites da organização ou do evento ou, ainda, de prejudicar o funcionamento legítimo da
                                maratona, poderá constituir uma afronta às leis penais e civis, podendo acarretar a
                                devida
                                responsabilização por danos e prejuízos que vier a causar.
                                <br><br>
                                Da mesma forma, a organização não
                                se responsabiliza pela ocorrência de casos fortuitos ou de força maior que possam
                                impedir a
                                participação do interessado neste Hackday e/ou Evento.
                                <br><br>
                                Eventuais despesas necessárias ao
                                desenvolvimento e execução do aplicativo, assim como, a inscrição deste no Hackday e sua
                                participação no evento, mas não se limitando a estes, são de responsabilidade exclusiva
                                do
                                participante individualmente ou em equipe, ficando, a organização, eximida de qualquer
                                dever, responsabilidade e/ou ônus.
                                <br><br>
                                A inscrição neste Hackday implica na aceitação imediata,
                                integral e automática de todas as cláusulas e condições previstas neste Regulamento,
                                assim
                                como, nas previstas no Regulamento geral do Evento.
                                <br><br>
                                Todas as funções, aplicativos e/ou
                                tecnologias desenvolvidas devem ser originais.
                                <br><br>
                                As soluções apresentadas ao final da Hackday
                                deverão ter sido desenvolvidas durante o período da maratona (19 e 20 de setembro de
                                2019) e
                                não devem ser cópias, em parte ou total, de outras soluções existentes no mercado.
                                <br><br>
                                Cada
                                participante deverá trazer seus próprios equipamentos (laptop, tablet e outros) para
                                desenvolver as soluções para a competição, sendo que será fornecida rede wi-fi e energia
                                no
                                dia de evento pela organização.
                                <br><br>
                                Os participantes deverão usar o crachá fornecido no ato do
                                credenciamento durante todo o período e em todos os espaços em que será realizada a
                                maratona.
                                <br><br>
                                A comissão organizadora reserva-se o direito de decidir e sem consultar os
                                participantes acerca de qualquer situação ou fato não previsto neste edital, e
                                reserva-se o
                                direito de acrescentar, diminuir ou remanejar o número de vagas para o hackathon
                                conforme
                                demanda.</p>

                        </small>
                    </p>

                    <p>
                        <small>
                            ORIENTAÇÕES AOS PARTICIPANTES
                            <br>
                            As despesas dos participantes referentes a transporte, material de consumo e quaisquer
                            outras necessárias para a participação deste evento serão de responsabilidade dos próprios
                            participantes. As soluções propostas pelas equipes deverão estar prontas até às 17:00 horas
                            do dia 20 de setembro de 2019. A avaliação dos aplicativos será realizada às 18:00 horas.
                        </small>
                    </p>
                </div>
                <div class="tema bg-laranja rounded">
                    <div class="container">
                        <div class="tittle-section p-0 text-azul">
                            <h2 class="font-personalizada"><strong>Faça sua inscrição: </strong></h2>
                        </div>
                        <div class=" text-dark pb-4">
                            <a href="/login" type="button" class="btn btn-warning float-right"><strong
                                    class=" tittle-section font-personalizada">Faça Login!</strong></a>
                            <a href="/cadastrar" type="button" class="btn btn-light float-right"><strong
                                    class=" tittle-section font-personalizada">Faça sua inscrição!</strong></a>
                        </div>
                    </div>
                </div>
        </section>


    </div>

    <!-- Footer -->
    <div class="justify-content-center text-center pt-2">
        <div class="container">
            <span class="pb-1 row justify-content-center text-center">
                <p><img src="image/icons/devloops-icone.png" class="m-0 p-0" width="50px"></p>
            </span>
            <div class="row justify-content-center text-center" class="pl-3">
                <span>
                    <p><small class="text-white p-5">SERCOMP 2019 &copy;</small></p>
                </span>
            </div>
        </div>
    </div>


</body>

<!-- Js scripts -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/app-scripts.js"></script>
<script src="js/app-scripts-mobile.js"></script>

</html>