<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>

    <script type="text/javascript">
        window.onload = function () {
            var ua = navigator.userAgent.toLowerCase();
            var uMobile = '';
            uMobile = '';
            uMobile += 'iphone;ipod;windows phone;android;iemobile 8';
            v_uMobile = uMobile.split(';');
            var boolMovel = false;
            for (i = 0; i <= v_uMobile.length; i++) {
                if (ua.indexOf(v_uMobile[i]) != -1) {
                    boolMovel = true;
                }
            }
            if (boolMovel == true) {
                location.href = '/home';
            } else {
                location.href = '/home-pc';
            }
        }
    </script>
</head>

</html>