<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2º SERCOMP - UEPB</title>
    <meta name="keywords"
        content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="icon" href="image/icons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Css files -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" /> -->

    <style>
            @font-face {
                font-family: myFirstFont;
                /* src: url("../eldes_cordel_1_lite.ttf"); */
                src: url("../font/cordelina.otf");
            }
    
            .font-personalizada {
                font-family: myFirstFont;
            }
    </style>
</head>

<body class="bg-white">

    <!-- header -->
    <div class="my-1">
        <div class="">
            <div class="logo px-3 py-2">
                <div class="d-flex justify-content-center">
                    <img src="image/logo-azul.png" alt="logo sercomp">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-itens-center" style="">
        <div class="container" style="max-width: 600px;">
            <form class="mx-4">
                <div class="text-center text-branco">
                    <h3 class="font-personalizada"><strong>Inscrição</strong></h3>
                </div>
                <div class="form-group mb-1">
                    <label for="email">Email</label>
                    <input type="email" class="form-control  " id="email" name="email"
                        value="<%=campo.email%>" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group  mb-1">
                    <label for="senha">Senha</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control  " minlength="6" id="password"
                            name="password" placeholder="Senha">

                        <div class="input-group-append">
                            <span class="btn btn-outline-secondary" onclick="mostrarSenha()">
                                <img
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4jd2SvW3DMBBGbwQVKlyo4BGC4FKFS4+TATKCNxAggkeoSpHSRQbwAB7AA7hQoUKFLH6E2qQQHfgHdpo0yQHX8T3exyPR/ytlQ8kOhgV7FvSx9+xglA3lM3DBgh0LPn/onbJhcQ0bv2SHlgVgQa/suFHVkCg7bm5gzB2OyvjlDFdDcoa19etZMN8Qp7oUDPEM2KFV1ZAQO2zPMBERO7Ra4JQNpRa4K4FDS0R0IdneCbQLb4/zh/c7QdH4NL40tPXrovFpjHQr6PJ6yr5hQV80PiUiIm1OKxZ0LICS8TWvpyyOf2DBQQtcXk8Zi3+JcKfNafVsjZ0WfGgJlZZQxZjdwzX+ykf6u/UF0Fwo5Apfcq8AAAAASUVORK5CYII=" />
                            </span>
                        </div>
                    </div>
                </div>
                <h5 class="mb-0 pt-2 text-center"><strong>Dados pessoais</strong></h5>

                <div class="form-group  mb-1">
                        <label for="name">Nome Completo</label>
                        <input type="text" class="form-control" id="name" name="name"
                            value="<%=campo.name%>" placeholder="Nome completo">
                    </div>
                <div class="form-group  mb-1">
                    <label for="street">Endereço</label>
                    <input type="text" class="form-control  " id="street" name="street"
                        value="<%=campo.street%>" placeholder="Endereco">
                </div>
                <div class="form-group  mb-1">
                    <label for="cpf">CPF</label>
                    <input type="number" class="form-control  " id="cpf" name="cpf" value="<%=campo.cpf%>"
                        placeholder="CPF">
                </div>
                <div class="form-group  mb-1">
                    <label for="telefone">Telefone</label>
                    <input type="number" class="form-control   phone" id="telefone" name="telefone"
                        value="<%=campo.telefone%>" placeholder="Telefone">
                </div>

                <div class="borda align-self-center">
                    <% if(erro.length > 0) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger p-1">
                                <ul class="m-0">
                                    <% console.log(erro) %>
                                    <li class="m-0"><%=erro%></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="mt-3 mb-3">
                    <button type="submit" class="btn btn-danger  " formaction="/menu"
                        formmethod="get">Cancelar</button>
                    <button type="submit" class="btn btn-success  " formaction="/cadastrar"
                        formmethod="POST">Cadastrar</button>
                </div>
            </form>
        </div>

    </div>


</body>

<!-- Js scripts -->
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS5rg3W-ldibSuizjB2YxANRRnV5-iepc&libraries=places"></script>
<script>
    var input = document.getElementById('street');
    autocomplete = new google.maps.places.Autocomplete(input);

    function mostrarSenha() {

        var senha = document.getElementById('password');

        if (senha.type === "password") {
            senha.type = "text";
        } else {
            senha.type = "password";
        }
    };
</script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- <script src="js/app.js"></script> -->

</html>