<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2º SERCOMP - UEPB</title>
    <meta name="keywords"
        content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="icon" href="image/icons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Css files -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/app-mobile.css" />

</head>


<body class="">

    <!--NAVEGAÇÂO-->
    <div id="myNav" class="overlay bg-white">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <div class="w-100 text-white">
                <div class="nav-item text-white">
                    <a class="nav-link active text-azul" href="/index">
                        <img class="img-fluid mr-2" src="image/icons/home.svg">
                        Inicio
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="/cadastrar">
                        <img class="img-fluid mr-2" src="image/icons/anexar.svg">
                        inscrição
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="#submissao">
                        <img class="img-fluid mr-2" src="image/icons/anexar.svg">
                        Submissão de artigos
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="/hackday">
                        <img class="img-fluid mr-2" src="image/icons/hackday.svg">
                        Hackday
                    </a>
                </div>
                <div class="nav-item text-white">
                    <a class="nav-link text-azul" href="/index#contato" OnClick="">
                        <img class="img-fluid mr-2" src="image/icons/contato.svg">
                        Contatos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button id="menu" class="btn bg-light float-left" onclick="openNav()">
            <img src="image/icons/menu.svg">
        </button>
    </div>


    <!-- Conteúdo -->
    <div id="conteudo">

        <!-- Hackday -->
        <section class="hackday bg-white" id="sobre">
            <div class="container">
                <div class="tittle-section text-azul">
                    <h2 class="font-personalizada"><strong>Submissão de artigos</strong></h2>
                </div>
                <div class="text-dark ">
                    <h3><strong>Chamada de trabalhos</strong></h3>
                    <p>
                        O Programa do Congresso II SERCOMP incluirá sessões técnicas, palestras convidadas,
                        minicursos, e painéis, com o objetivo de promover discussões e fortalecer a rede de contato
                        entre os pesquisadores e práticos da área de computação na região. Para compor as Sessões
                        Técnicas são esperadas submissões de artigos técnico-científicos que apresentem claramente
                        novas contribuições à pesquisa, relatos de experiência na indústria e estudos de caso, todos
                        relacionados com a área de Computação e Tecnologia de Informação e Comunicações, e que
                        estejam relacionados aos diversos tópicos de interesse do Congresso.
                    </p>
                    <ul>
                        <li>
                            16/JUL - Prazo Inicial de submissão de artigos
                        </li>
                        <li>
                            01/SET - Prazo final de submissão de artigos
                        </li>
                        <li>
                            06/SET - Notificação dos autores dos artigos aprovados
                        </li>
                        <li>
                            13/SET - Entrega da versão final dos artigos
                        </li>
                        <li>
                            19/SET - Apresentação dos artigos
                        </li>
                    </ul>

                    <div class="p-0">
                        <br>
                        <h3 class=""><strong>Faça aqui sua submissão</strong> <button class="btn btn-primary p-0">
                                <a href="mailto:sercompeupb@gmail.com?subject=Submissão de artigo"
                                    class="p-5 text-white">
                                    <strong>AQUI</strong> </a>
                            </button></h3>
                        <br><br>
                    </div>


                    <h3><strong>Template do Banner</strong></h3>
                    <br>
                    <p class="text-primarys">
                            <button class="btn btn-outline-primary p-0"><strong class="p-5">DISPONÍVEL EM BREVE</strong></button>
                    </p>
                    <br>
                    <h5><strong>Tópicos de Interesse</strong></h5>
                    <br>
                    <p>
                        São esperadas especialmente contribuições que abordem o tema principal do evento - "A
                        computação na perspectiva da complexidade, diversidade e inclusão nos dias atuais", bem como
                        os grandes temas de desafios da pesquisa em Computação e TIC definidos pela comunidade de
                        pesquisa nessas áreas:
                    </p>

                    <ul>
                        <li>
                            TIC para inclusão digital;
                        </li>
                        <li>
                            Inovação e empreendedorismo no Nordeste;
                        </li>
                        <li>
                            Visão sociotécnica de Sistemas de Informação.
                        </li>
                    </ul>
                    <p>
                        Outros tópicos são também esperados, mas não limitados a:
                    </p>
                    <ul>
                        <li>
                            Arquitetura orientada a serviços (SOA) e serviços Web
                        </li>
                        <li>
                            Aspectos humanos e sociais em Computação
                        </li>
                        <li>
                            Abordagem e metodologias ágeis
                        </li>
                        <li>
                            Business Intelligence & Analytics
                        </li>
                        <li>
                            Computação móvel, ubíqua e Internet das coisas
                        </li>
                        <li>
                            Dados abertos e conectados, sistemas abertos
                        </li>
                        <li>
                            Educação de/em Computação
                        </li>
                        <li>
                            Engenharia de Software
                        </li>
                        <li>Ecossistemas de Software, Sistemas de Sistemas e de SI
                        </li>
                        <li>Gestão de conhecimento e aprendizagem organizacional
                        </li>
                        <li>Gestão de pessoas
                        </li>
                        <li>Gerenciamento de projetos
                        </li>
                        <li>Gestão de processos (metodologias de gestão, repositórios de processos, modelagem de
                            processos, social BPM, processos intensivos em conhecimento, adaptação de processos,
                            processos sensíveis a contexto)
                        </li>
                        <li>Governança empresarial e de TI
                        </li>
                        <li>Inovação com/em Computação
                        </li>
                        <li>Integração de informações e de aplicações
                        </li>
                        <li>Interação Humano-Computador em Computação
                        </li>
                        <li>Metodologias e abordagens para engenharia de SI
                        </li>
                        <li>Mídias sociais em negócios e sociedade
                        </li>
                        <li>Modelagem e paradigmas de desenvolvimento de SI (dados, sistemas/aplicações, agentes,
                            aspectos, componentes, métodos ágeis etc.)
                        </li>
                        <li>Pesquisa operacional e modelos de decisão em negócios
                        </li>
                        <li>Planejamento estratégico de sistemas e TI
                        <li>Preservação de informação e memória digital
                        </li>
                        <li>Qualidade de Software
                        </li>
                        <li>Representação de informações de negócio, gerência de dados e metadados nas organizações,
                            ontologias
                        </li>
                        <li>Segurança de/em TI
                        </li>
                        <li>Sistemas inteligentes (agentes inteligentes, algoritmos genéticos, aprendizagem de máquina,
                            mineração de dados, modelos formais, ontologias, raciocínio automatizado, redes neurais,
                            representação de conhecimento)
                        </li>
                        <li>SI/TIC para governo (transparência, dados abertos, interoperabilidade, ecossistemas
                            governamentais)
                        </li>
                        <li>Sistemas de apoio à decisão
                        </li>
                    </ul>

                    <h5><strong>Instruções para Submissão</strong></h5>
                    <br>

                    <p>
                        Os artigos podem ser submetidos para o II SERCOMP somente nas categorias “relatos de caso”
                        (case reports), sobre projetos em desenvolvimento, e "artigo completo" (full paper) sobre
                        trabalhos de pesquisas já concluídas, com ideias e resultados inovadores, e seguindo
                        metodologia científica adequada. Os relatos de caso devem ter entre 3 e 5 páginas (incluindo
                        figuras, tabelas, diagramas, referências em anexos). O artigo completo deve ter entre 7 e 10
                        páginas (incluindo as figuras, tabelas, diagramas, referências e anexos). Qualquer trabalho
                        submetido deve possuir no máximo 5 autores.

                    </p>
                    <p>Alguns aspectos adicionais devem ser observados:</p>
                    <ul>
                        <li>
                            Sugere-se que os artigos descrevam claramente a metodologia científica empregada e uma
                            análise dos resultados, ressaltando as contribuições de pesquisa e inovação em Computação e
                            para a área de aplicação, posicionando-a em relação a outros trabalhos da área.
                        </li>
                        <li>
                            Todos os artigos podem ser submetidos em Português ou Inglês, em formato PDF e seguindo o
                            modelo para publicação de artigos da SBC. As submissões devem ser feitas por meio do
                            seguinte link (<a target="_blank"
                                href="https://www.sbc.org.br/documentos-da-sbc/summary/169-templates-para-artigos-e-capitulos-de-livros/878-modelosparapublicaodeartigos">LINK</a>).
                        </li>
                        <li>
                            Submissões em inglês são recomendadas. Artigos escritos em Português devem conter o
                            abstract.
                        </li>
                        <li>
                            Os trabalhos submetidos não devem ter sido publicados e nem estarem em processo de avaliação
                            ou edição para publicação em outro lugar.
                        </li>
                        <li>
                            Na versão de submissão do artigo, o cabeçalho do artigo não deverá haver nenhum tipo de
                            identificação dos autores. Além de eliminar a identificação dos autores do cabeçalho do
                            artigo, toda e qualquer referência que identifique a proveniência do artigo deve ser
                            removida da versão de submissão, como nome de projetos, de instituições, de ferramentas e
                            citações de artigos que identifiquem os autores. Artigos que possuírem identificação nesta
                            etapa serão rejeitados. Caso o artigo seja aceito, os autores deverão incluir na versão
                            final seus dados (nomes, filiações e e-mails, bem como demais informações necessárias ao
                            artigo, a exemplo de citações a outros trabalhos dos autores).
                        </li>
                        <li>
                            A seleção de trabalhos será realizada a partir da revisão por membros do Comitê de Programa
                            do II SERCOMP. O processo de revisão será conduzido de forma duplamente anônima
                            (double-blind review) por, pelo menos, dois revisores.
                        </li>
                        <li>
                            Os seguintes critérios serão considerados na avaliação: relevância ao escopo, qualidade
                            técnica, clareza e pertinência.
                        </li>
                    </ul>

                    <h5><strong>Publicação</strong></h5>
                    <br>
                    <p>
                        Os artigos aceitos serão publicados nos anais do evento, condicionados à inscrição, de, pelo
                        menos, um dos autores no evento, bem como à apresentação do trabalho no evento.
                    </p>

                    <h5><strong>Apresentação</strong></h5>
                    <br>
                    <p>
                        Cada artigo aceito deverá ter pelo menos um autor inscrito para apresentá-lo em sessão
                        técnica, tendo 60 minutos para apresentação/discussão por meio de painel digital/poster.
                    </p>
                    <div class="p-0">
                            <br>
                            <h2 class=""><strong>Tudo pronto? </strong> <button class="btn btn-primary p-0">
                                    <a href="mailto:sercompeupb@gmail.com?subject=Submissão de artigo"
                                        class="p-5 text-white">
                                        <strong>SUBMETA AQUI</strong> </a>
                                </button></h2>
                            <br><br>
                        </div>

                    <h5><strong>Coordenação da Trilha Principal</strong></h5>
                    <br>
                    <ul>
                        <p><strong>Dr. Rodrigo Alves Costa</strong>(<a
                                href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4705078H6">Lattes</a>)
                        </p>
                        <p><strong>Dra. Jannayna Domingues Barros Filgueira</strong>(<a
                                href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4223965P1">Lattes</a>)
                            <small> - jannayna@uepb.edu.br</small></p>
                    </ul>
                    <br>

                    <h5><strong>Avaliadores</strong></h5>
                    <br>
                    <ul>
                        <p><strong>Ms. Aislânia Alves de Araújo</strong>(<a
                                href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4251903J3">Lattes</a>)
                            <small> - aislanialves@gmail.com</small></p>

                        <p><strong>Ms. Ingrid Morgane Medeiros de Lucena </strong>(<a
                                href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4352750U3">Lattes</a>)
                            <small> - ingridmorgane@gmail.com</small></p>

                        <p><strong>Ms. Jefferson Felipe Silva de Lima</strong>(<a
                                href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4479190D6">Lattes</a>)
                            <small> - jfsilvadelima@gmail.com</small></p>

                        <p><strong>Ms. Laudson Silva de Souza</strong>(<a
                                href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4415207Z3">Lattes</a>)
                            <small> - laudsonssouza@gmail.com</small></p>

                        <p><strong>Ms. Pablo Roberto Fernandes de Oliveira</strong>(<a
                                href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4314714Y1">Lattes</a>)
                            <small> - pablorobertofernando@gmail.com</small></p>
                    </ul>
                </div>
                
        </section>



    </div>

    <!-- Footer -->
    <div class="justify-content-center text-center pt-2">
        <div class="container">
            <span class="pb-1 row justify-content-center text-center">
                <p><img src="image/icons/devloops-icone.png" class="m-0 p-0" width="50px"></p>
            </span>
            <div class="row justify-content-center text-center" class="pl-3">
                <span>
                    <p><small class="text-white p-5">SERCOMP 2019 &copy;</small></p>
                </span>
            </div>
        </div>
    </div>


</body>

<!-- Js scripts -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/app-scripts.js"></script>
<script src="js/app-scripts-mobile.js"></script>

</html>