<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2º SERCOMP - UEPB</title>
    <meta name="keywords"
        content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="icon" href="image/icons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Css files -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" /> -->

    <style>
        @font-face {
            font-family: myFirstFont;
            /* src: url("../eldes_cordel_1_lite.ttf"); */
            src: url("../font/cordelina.otf");
        }

        .font-personalizada {
            font-family: myFirstFont;
        }
    </style>

</head>

<body class="bg-white">

    <div class="pagina spinner-border">
        <!-- header -->
        <div class="my-1">
            <div class="">
                <div class="logo px-3 py-2">
                    <div class="d-flex justify-content-center">
                        <img src="image/logo-azul.png" alt="logo sercomp">
                    </div>
                </div>
            </div>
        </div>

        <div class="px-5">
            <form action="/cursos" method="POST">
                <div class="titdivo-pagina d-flex justify-content-center mb-2">
                    <h3 class="font-personalizada">Mini-cursos</h3>
                </div>

                <p><small>Os minicursos serão ofertados em 3 horarios(manhã, tarde e noite), cada participante tem
                        direito a
                        um por turno, as vagas são limitadas.</small></p>


                <div class="pb-3">
                    <h5 class="font-personalizada">Manhã</h5>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="escrita" name="manha" value="escrita">
                        <label class="custom-control-label" for="escrita">
                            <p class="m-0"><Strong>AS ESPECIFICIDADES DA ESCRITA CIENTÍFICA</Strong></p>
                            <p class="m-0"><small>Eianny Cecília de Abrantes Pontes </small></p>
                            <p class="m-0"><small>Vagas: <span id="escrital"></span></small></p>
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="python" name="manha" value="python">
                        <label class="custom-control-label" for="python">
                            <p class="m-0"><Strong>APRENDIZADO DE MÁQUINA COM PYTHON</Strong></p>
                            <p class="m-0"><small>Flavius da Luz e Gorgônio </small></p>
                            <p class="m-0"><small>Vagas: <span id="pythonl"></span></small></p>
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="javascript" name="manha"
                            value="javascript">
                        <label class="custom-control-label" for="javascript">
                            <p class="m-0"><Strong>INTRODUÇÃO A DESENVOLVIMENTO DE APLICATIVOS NATIVOS COM REACT NATIVE</Strong></p>
                            <p class="m-0"><small>Sanderson Soares Marinho da Costa</small></p>
                            <p class="m-0"><small>Vagas: <span id="javascriptl"></span></small></p>
                        </label>
                    </div>
                </div>

                <div class="pb-3">
                    <h5 class="font-personalizada">Tarde</h5>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="libras" name="tarde" value="libras">
                        <label class="custom-control-label" for="libras">
                            <p class="m-0"><Strong>DIALOGANDO NA "VOZ" DO SURDO</Strong></p>
                            <p class="m-0"><small>Edcarlos Paz lucena </small></p>
                            <p class="m-0"><small>Vagas: <span id="librasl"></span></small></p>
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="scrum" name="tarde" value="scrum">
                        <label class="custom-control-label" for="scrum">
                            <p class="m-0"><Strong>SCRUM NA PRÁTICA: TEORIA VS REALIDADE</Strong></p>
                            <p class="m-0"><small>Max Miller da Silveira</small></p>
                            <p class="m-0"><small>Vagas: <span id="scruml"></span></small></p>
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="bigdata" name="tarde" value="bigdata">
                        <label class="custom-control-label" for="bigdata">
                            <p class="m-0"><Strong>INTRODUÇÃO A BIG DATA E DATA SCIENCE</Strong></p>
                            <p class="m-0"><small>Klemerson Gomes</small></p>
                            <p class="m-0"><small>Vagas: <span id="bigdatal"></span></small></p>
                        </label>
                    </div>
                </div>

                <div class="pb-3">
                    <h5 class="font-personalizada">Noite</h5>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="si" name="noite" value="si">
                        <label class="custom-control-label" for="si">
                            <p class="m-0"><Strong>SEGURANÇA EM REDES E ANÁLISE DE VULNERABILIDADES</Strong></p>
                            <p class="m-0"><small>Jackson Barbosa de Azevedo</small></p>
                            <p class="m-0"><small>Vagas: <span id="sil"></span></small></p>
                        </label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="robotica" name="noite" value="robotica">
                        <label class="custom-control-label" for="robotica">
                            <p class="m-0"><Strong>OFICINA DE ROBÓTICA COM KITS DA LEGO ®</Strong></p>
                            <p class="m-0"><small>Daniel Dantas Marques</small></p>
                            <p class="m-0"><small>Vagas: <span id="robotical"></span></small></p>
                        </label>
                    </div>
                </div>
                <button class="mb-5 btn btn-success" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

    <nav class="nav-bottom navbar fixed-bottom" style="background-color: #220664; color: white;">
        <div class="d-flex justify-content-around" style="width: 100%">
            <a class="btn text-branco" style="color: white" href="/index2">
                <i class="fas fa-home fa-fw"></i>
            </a>
            <a class="btn text-branco" style="color: white" href="/agenda">
                <i class="fas fa-book fa-fw"></i>
            </a>
            <a class="btn rounded-circle" style="background-color: white; color: #220664;" href="/perfil">
                <i class="fas fa-user fa-fw"></i>
            </a>
        </div>
    </nav>

</body>



<!-- Js scripts -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/minicursos.js"></script>
<script src="js/app.js"></script>
<script>
    $(document).ready(function () {
        $("pagina").css('margin-bottom', $(".navbar").height())
    });
</script>

</html>