<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2º SERCOMP - UEPB</title>
    <meta name="keywords"
        content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="icon" href="image/icons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Css files -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" /> -->

    <style>
        @font-face {
            font-family: myFirstFont;
            /* src: url("../eldes_cordel_1_lite.ttf"); */
            src: url("../font/cordelina.otf");
        }

        .font-personalizada {
            font-family: myFirstFont;
        }
    </style>

</head>

<body class="bg-white">

    <div class="pagina">
        <!-- header -->
        <div class="my-1">
            <div class="">
                <div class="logo px-3 py-2">
                    <div class="d-flex justify-content-center">
                        <img src="Image/logo-azul.png" alt="logo sercomp">
                    </div>
                </div>
            </div>
        </div>

        <div class="px-5">
            <div class="titulo-pagina d-flex justify-content-center mb-2">
                <h3 class="font-personalizada">PERFIL</h3>
            </div>
            <div class="conteudo">
                <div class="nome">
                    <p class="m-0"><strong>Nome</strong></p>
                    <p class="m-0" id="name"></p>
                </div>
                <br>
                <div class="telefone">
                    <p class="m-0"><strong>Telefone</strong></p>
                    <p class="m-0" id="telefone"></p>
                </div>
                <br>
                <div class="email">
                    <p class="m-0"><strong>Email</strong></p>
                    <p class="m-0" id="email"></p>
                </div>
                <br>
                <div class="endereco">
                    <p class="m-0"><strong>Endereço</strong></p>
                    <p class="m-0" id="street"></p>
                </div>
            </div>
        </div>
    </div>

    <nav class="nav-bottom navbar fixed-bottom" style="background-color: #220664; color: white;">
        <div class="d-flex justify-content-around" style="width: 100%">
            <a class="btn text-branco" style="color: white" href="/home">
                <i class="fas fa-home fa-fw"></i>
            </a>
            <a class="btn text-branco" style="color: white" href="/agenda">
                <i class="fas fa-book fa-fw"></i>
            </a>
            <a class="btn rounded-circle" style="background-color: white; color: #220664;" href="/perfil">
                <i class="fas fa-user fa-fw"></i>
            </a>
        </div>
    </nav>

</body>

<script>
    $(document).ready(function () {
        $("pagina").css('margin-bottom', $(".navbar").height())
    });
</script>

<!-- Js scripts -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/perfil.js"></script>
<script src="js/app.js"></script>

</html>