<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2º SERCOMP - UEPB</title>
    <meta name="keywords"
        content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="icon" href="image/icons/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Css files -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/app-novo.css" />

    <style>
        @font-face {
            font-family: myFirstFont;
            /* src: url("../eldes_cordel_1_lite.ttf"); */
            src: url("../font/cordelina.otf");
        }

        .font-personalizada {
            font-family: myFirstFont;
        }

        .nav-tabs .nav-link.active {
            color: #495057;
            background-color: #f7f7f7;
            border-color: #dee2e6 #dee2e6 #f7f7f7;
        }
    </style>

</head>


<body class="bg-white">

    <div class="pagina">

        <!-- header -->
        <div class="my-1">
            <div class="">
                <div class="logo px-3 py-2">
                    <div class="d-flex justify-content-center">
                        <img src="Image/logo-azul.png" alt="logo sercomp">
                    </div>
                </div>
            </div>
        </div>

        <div class="header-agenda">
            <div class="titulo-pagina d-flex justify-content-center mb-2">
                <h3 class="font-personalizada">Agenda</h3>
            </div>
            <nav>
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">
                        18
                    </a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">
                        19
                    </a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">
                        20
                    </a>
                </div>
            </nav>
        </div>

        <div class="px-4 py-3 bg-light">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="programa py-2">
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white" -2">
                            <div>
                                <h6 class="p-0 m-0">
                                    Credenciamento
                                </h6>
                            </div>
                            <div>
                                <small>
                                    18:00 às 19:00
                                </small>
                            </div>

                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">

                            <div class="">
                                <h6 class="p-0 m-0">
                                    Abertura
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    19:00 às 19:00
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Palestra I
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    19:15 às 20:45
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Coffee Break
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    20:45 às 22:00
                                </small>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="programa py-2">
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Credenciamento
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    7:00 às 8:00
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Abertura II
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    8:00 às 9:30
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Coffee Break
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    9:30 às 10:00
                                </small>
                            </div>
                            <div class="info">
                                <p>
                                    (Sorteio do tema do HackDay)
                                </p>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Minicursos
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    10:00 ás 12:00
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    INTERVALO
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    (12:00 ÀS 13:30)
                                </small>
                            </div>

                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Oficinas
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    13:30 às 15:30
                                </small>
                            </div>

                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">

                            <div class="">
                                <h6 class="p-0 m-0">
                                    Apresentação de Artigos
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    15:30 às 16:30
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    INTERVALO
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    (16:30 ÀS 17:00)
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    HACKDAY
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    17:00
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Minicursos
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    19:00 às 21:00
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="programa py-2">
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Feira Tecnológica
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    8:00 às 10:00
                                </small>
                            </div>

                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Mesa Redonda
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    10:00 às 11:30
                                </small>
                            </div>

                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    INTERVALO
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    (12:00 ÀS 13:30)
                                </small>
                            </div>

                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Momento Feminino
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    13:30 às 16:00
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Encerramento do Hackday
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    17:00
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    INTERVALO
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    (17:00 ÀS 18:00)
                                </small>
                            </div>

                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Apresentação do Hackday
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    18:00 às 19:00
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Premiação dos Artigos
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    19:00 às 19:15
                                </small>
                            </div>
                        </div>
                        <div class="programa p-3 mb-2 shadow-sm" style="background-color: white">
                            <div class="">
                                <h6 class="p-0 m-0">
                                    Premiação Hackday
                                </h6>
                            </div>
                            <div class="">
                                <small>
                                    19:15 às 19:30
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav class="nav-bottom navbar fixed-bottom" style="background-color: #220664; color: white;">
        <div class="d-flex justify-content-around" style="width: 100%">
            <a class="btn text-branco" style="color: white" href="/home">
                <i class="fas fa-home fa-fw"></i>
            </a>
            <a class="btn rounded-circle" style="background-color: white; color: #220664;" href="/agenda">
                <i class="fas fa-book fa-fw"></i>
            </a>
            <a class="btn text-branco" style="color: white" href="/perfil">
                <i class="fas fa-user fa-fw"></i>
            </a>
        </div>
    </nav>


    </nav>

</body>

<!-- Js scripts -->
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS5rg3W-ldibSuizjB2YxANRRnV5-iepc&libraries=places"></script>
<script>
    var input = document.getElementById('street');
    autocomplete = new google.maps.places.Autocomplete(input);

    function mostrarSenha() {

        var senha = document.getElementById('password');

        if (senha.type === "password") {
            senha.type = "text";
        } else {
            senha.type = "password";
        }
    };

    $(document).ready(function () {
        $("pagina").css('margin-bottom', $(".navbar").height())
    });
</script>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>

</html>